body{
    background-color: #111010;

}

/* 054087 */
/* f4f3f3 */

#title{
    color: #f4f3f3;  
    text-align: center; 
    font-size: 90px;
}

#logo-container {
    display: flex;
    align-items: center; 
    gap: 100px;          
}

#login-input{
    padding: 20px 30px;
    background-color: #054087;
    display: flex;
    flex-direction: column;
}

#login-input input{
    padding: 15px 50px;
    font-size: 26px;
}

#login-input button{
    font-size: 26px;
    padding: 15px;
    margin-bottom: 10px;
}

.error-input::placeholder {
    color: red;
    opacity: 1;
  
}

#create-acc{
    width: 500px; 
    height: 70px;
    padding: 0; 
}

#create-acc::after {
    content: attr(data-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
      transform: translateY(-35px);
  transition: transform 0.3s ease;
}

#create-acc:hover::after {
    opacity: 1;
}

#create-acc span {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#create-acc:hover span {
    opacity: 0;
    transform: translateY(-20px);
    
}